<!doctype html>
<html lang="en">
<head>
    <title>Dreadball Dice Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<div id="app">

<h1>Chance for minimum number of successes</h1>
<div id="successes">
<div class="section">
<% for (var i = 0; i < successes.length; i++) { %>
    <% if (i % 3 == 0) { %>
        </div><div class="section">
    <% } %>
    <%= successes[i] %>
<% } %>
</div>
</div>



<h1>Chance for at least draw/success/double success</h1>
<div id="opposed_rolls">
<div class="section">
<% for (var j = 0; j < opposedRolls.length; j++) { %>
    <% if (j % 3 == 0) { %>
        </div><div class="section">
    <% } %>
    <%= opposedRolls[j] %>
<% } %>
</div>
</div>

<script type="text/javascript" src="js/lib/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>